$floral-white: #fff7e7;
$white: #fff;
$ship-grey: #4f4f4e;
$light-pink: #ffc0b8;
$mona-lisa: #ff8983;

$light: $white;
$dark: $ship-grey;
$accent: $light-pink;
$secondary: $floral-white;
$primary: $mona-lisa;
